<header class="masthead">
	<h1 class="masthead-heading">Tweetful</h1>
	<p class="masthead-intro">Making The Internet a Little More Thoughtful</p>
</header>

<div class="info-container">
	<section class="info">  
		<header>
			<h2>About Tweeful</h2>
		</header>
		<p>Donec sed odio dui. Nulla vitae elit libero, a pharetra augue. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Maecenas faucibus mollis interdum.</p>
	</section>

	<section class="info">   
		<header>
			<h2>Meet the Team behind Tweeful</h2>
		</header>
		<p>They're a great group of people. You should seriously meet them sometime at one of your local Meetups.</p>
	</section>

	<section class="info"> 
		<header>
			<h2>Our Sponsers</h2>
		</header>
		<p>Big thanks to all of our sponsers including: Google, Facebook, LinkedIn, and the great people of Golden Gate Park.</p>	
	</section>
</div><!-- .info-container -->

<footer>
	<p>Reach out to us anytime at: <a href="mailto:dragosbogdan@gmail.com">dragosbogdan@gmail.com</a></p>
</footer>