<header class="masthead">
	<h1 class="masthead-heading">Tweetful</h1>
	<p class="masthead-intro">Making The Internet a Little More Thoughtful</p>
</header>

<div class="info-container">
	<section class="info">  
		<header>
			<h2>Peter Lonestar</h2>
			<h3>Founder</h3>
		</header>
		<p>Donec sed odio dui. Nulla vitae elit libero, a pharetra augue. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Maecenas faucibus mollis interdum.</p>
	</section>

	<section class="info">   
		<header>
			<h2>Bill Billerson</h2>
			<h3>CFO</h3>
		</header>
		<p>Maecenas faucibus mollis interdum. You should seriously meet them sometime at one of your local Meetups.</p>
	</section>

	<section class="info">  
		<header>
			<h2>You!</h2>
			<h3>CTO</h3>
		</header>
		<p>Nulla vitae elit libero, a pharetra augue. Vivamus sagittis. Nulla vitae elit libero, a pharetra augue. Vivamus sagittis.</p>
	</section>
</div><!-- .info-container -->

<footer>
	<p>Reach out to us anytime at: <a href="mailto:dragosbogdan@gmail.com">dragosbogdan@gmail.com</a></p>
</footer>